@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-system-ui: ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
    --ok-bg: #ffffff;
    --ok-bg2: #f2f2f2;
    --ok-bg3: #d9d9d9;
    --ok-fg: #111827;
    --ok-accent: #3b9cd4;
    --ok-text: #ffffff;
    --ok-text2: #111827;
  }

  .dark {
    --ok-bg: #111827;
    --ok-bg2: #1f2937;
    --ok-bg3: #374151;
    --ok-fg: #465160;
    --ok-accent: #3b9cd4;
    --ok-text: #ffffff;
    --ok-text2: #ffffff;
  }
}

body {
  font-family: var(--font-system-ui);
}

@layer base {
  body {
    @apply bg-okbg2 text-oktext2;
  }

  .prose img {
    @apply h-60 w-auto;
  }

  .prose strong {
    @apply text-oka;
  }

  .prose a {
    @apply text-oka;
  }

  .prose pre {
    @apply bg-okfg;
  }
}
